@use 'src/styles/reset';
@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', 'Arial';
  font-weight: 400;
  display: flex;
  width: 100%;
}

    
    h3 {
        font-size: 1em;
    }

        .profile-cell {
            background: green;
            border: 1px solid black;

            .prf-background {
                width: 100%;
                height: 100%;
                position: relative;
                
                &-photo {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .prf-overlay {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    .prf-added-fav-icon {
                        position: absolute;
                        width: 20%;
                        height: 20%;
                        right: 0;
                    }

                    .prf-gradient {
                        width: 100%;
                        height: 30%;
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                        color: white;
                        position: absolute;
                        padding-left: 0.5em;
                        bottom: 0;

                        .prf-name-age-connected {
                            position: static;
                            display: flex;
                            flex-direction: row;
                            bottom: 0;

                            .prf-connected {
                                width: 15%;
                                padding-left: 3%;
                            }
                        }
                    }
                }
            }

            // &:first-child {
            //     border-top-left-radius: 10px;
            // }

            // &:nth-child(3) {
            //     border-top-right-radius: 10px;
            // }
        }