$accentColor: #9055DD;
$buttonColor: #9055DD;
$inputColor: rgb(247, 247, 247);
$landingBanner: rgba(217, 155, 255, 0.25);
$menuColor: #FAFAFA;
$filterColor: rgba(234, 234, 234, 0.2);
$bubbleColor: #F0F0F0;
$headerTabColor: #F2F2F2;
$menuActiveTab: rgba(144, 85, 221, .2);
$lightGreyColor: #FBFBFB;
$notificationColor: #D99BFF;
$dateColor: #DFDFDF;
$disabledColor: #513873;