$accentColor: #9055DD;
$buttonColor: #9055DD;
$inputColor: rgba(0, 0, 0, 0.04);
$landingBanner: rgba(217, 155, 255, 0.25);
$menuColor: #FAFAFA;
$filterColor: rgba(234, 234, 234, 0.2);
$bubbleColor: #F0F0F0;
$headerTabColor: #F2F2F2;