@use 'src/styles/reset';
@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', 'Arial';
    font-weight: 400;
    display: flex;
    width: 100%;
  }


  h1, h2 {
    font-weight: 500;
    font-size: 2em;
  }
  
  em {
    color: vars.$accentColor;
  }
  
  h6 {
    font-size: 0.8em;
  }

.landing-page-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .header-banner {
        width: 100vw;
        height: 10em;
        background: vars.$landingBanner;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2em;
        padding-bottom: 1em;
        &-fav {
            height: 100px;
            width: 110px;
            left: 15%;
          }
        
        &-msg {
            height: 100px;
            width: 110px;
            right: 15%;
        }
    }

    & .hero {
        
        &-meeet {
          margin-top: 2em;
          height: 104px;
          width: 104px;
          filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.25));
        }

        &-info {
          height: 30em;
          justify-content: space-evenly;
          
          &-right-arrow {
              margin-top: 5em;
              height: 44px;
              width: 44px;
          }
      
         & p {
           font-size: 1.2em;
           width: 75%;
           text-align: center;
         }
        }

        }

      
      .sign-up, .sign-in {
        &-container {
          margin: 3em 0;

          & h2 {
            text-align: center;
            margin-bottom: 0.5em;
          }
        }
      
        &-inputs {
          display: flex;
          flex-direction: column;
          width: 270px;
        
          & input, button {
            font-family: 'Montserrat', 'Arial';
            margin-top: 20px;
            width: 270px;
            height: 40px;
            border-radius: 30px;
            border: none;
          }
        
          & input {
            background-color: vars.$inputColor;
            padding-left: 10px;
            font-weight: 400;
            font-size: 1em;
          }
          
          & button {
            background-color: vars.$buttonColor;
            font-weight: 600;
            font-size: 1.1em;
            color: white;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
            margin-bottom: 0.8em;
          }
        }
    }
  }

  @media screen and (max-width: 400px) {
    .landing-page-container {
      .header-banner {
        display: none;
      }

      & .hero {
        &-meeet {
          height: 104px;
          width: 104px;
        }
      }
    } 
  }

  @media screen and (max-width: 320px) {
    .landing-page-container {

      & .hero {
        &-meeet {
          margin-top: 1em;
          height: 104px;
          width: 104px;
        }
      }
    } 
  }

  @media screen and (min-width: 1200px) {
    .landing-page-container {
      .header-banner {
        background: none;
        height: 0;
        &-fav {
          position: absolute;
          height: 130px;
          width: 140px;
          left: 15%;
          top: 15%;
        }
      
        &-msg {
          position: absolute;
          height: 130px;
          width: 140px;
          right: 15%;
          top: 30%;
        }
      }

      & .hero {
        &-meeet {
          height: 180px;
          width: 180px;
        }

        &-info {
          
          &-right-arrow {
          }
      
        & p {
            width: 55%;
          }
        }
        
        .sign-up {
          &-container {
            display: inline;
          }
        }
      }  
    } 
  }