@use 'src/styles/reset';
@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', 'Arial';
  font-weight: 400;
  display: flex;
  width: 100%;
}

em {
  color: vars.$accentColor;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: pink;

  h1, h2 {
    font-size: 1.5em;
  }

  & .right {
    display: none;
  }

  & .left {
    padding: 1em;
    
    & .map-reduced {
      margin: 1em 0;
      border-radius: 10px;
      height: 100px;
      background: rgb(34, 34, 58);
      width: 100%;
    }
  
    & .profiles-grid {
      background: grey;
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
  
      & .profile-cell-container {
        aspect-ratio: 1;
      }
    }
  
    .profile-cell-container:nth-child(1) {
      border-top-left-radius: 10px;
    }
  
    .profile-cell-container:nth-child(3) {
      border-top-right-radius: 10px;
    }
  }

  
}

@media screen and (min-width: 600px) {

  .home-container {

    & .left {

      & .profiles-grid {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .home-container {
    flex-direction: row;

    & .right {
      display: flex;
      flex-direction: column;
      padding-top: 2em;
      margin: 1em;
      width: 13em;

      b {
        font-weight: 600;
      }

      img {
        height: 32px;
        width: 32px;
      }

      & .filters {
        padding: 0;
        margin: 0;
        background: vars.$menuColor;
        border-radius: 10px;

        &-top {
          padding: 0;
          flex-direction: row;
          width: 100%;
          align-items: center;

          h4 {
            font-size: 1.2em;
            padding-left: 0.5em;
          }
        }

        &-main {
          padding: 0;
          background: green;

          & .filter {
            margin: 0;
            padding-bottom: 1em;
            width: 100%;
            flex-direction: row;
            align-items: center;

            span {
              padding-left: 0.5em;
            }
          }
        }

      }
    }

    & .left {
      flex-direction: column;
      padding-left: 7em;

      & .profiles-grid {
        grid-template-columns: repeat(7, 1fr);
      }
    }
  }
}