@use 'src/styles/reset';
@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', 'Arial';
  font-weight: 400;
  display: flex;
  width: 100%;
}

.edit-profile-block {
  padding-bottom: 6em;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.2em;
    font-weight: 500;
  }  

  .header-tab {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: vars.$headerTabColor;
    justify-content: center;
    align-items: center;

    .back-arrow {
      position: absolute;
      left: 15px;
      height: 32px;
      width: 32px;

      back-arrow-img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }

    .modal-cross {
      display: none;
    }
  }

  .picture-gallery-container {
    height: 100%;
    max-width: 100%;
    width: 100vw;

    .picture-gallery {
      width: 100%;
      display: grid;
      grid-template-columns: 0.75fr 1fr 0.75fr; 
      grid-template-rows: repeat(2, 1fr);
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .pic1 { 
      grid-area: 1 / 2 / 3 / 3; 
      position: relative;

      .imgupload {
        width: 32px;
        height: 32px;
        position: absolute;
        bottom: 5px;
        right: 5px;
  
        img {
          height: 100%;
          height: 100%;
        }
      }
    } 
    .pic2 { grid-area: 1 / 1 / 2 / 2; } 
    .pic3 { grid-area: 2 / 1 / 3 / 2; } 
    .pic4 { grid-area: 1 / 3 / 2 / 4; } 
    .pic5 { grid-area: 2 / 3 / 3 / 4; } 
  } 

  .name-age-header {
    display: flex;
    padding: 0.3em 0;

    h3 {
      font-weight: 500;
      font-size: 1.2em;
    }
  }
  
  .info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 80%;

    .info {
      display: flex;
      flex-direction: column;
      padding: 1em;
      margin: 1em 0;
      background: vars.$bubbleColor;
      width: 250px;
      border-radius: 10px;
        
        h4 {
            font-weight: 500;
        }
        
        p {
            margin-top: 0.5em;
            font-size: 0.9em;
        }
    }

    .description {
      align-self: flex-start;
  }

    .interests {
      align-self: flex-end;
  }

  .table {
    align-self: flex-start;

    h4 {
        margin-bottom: 1em;
    }

    &-details {

        .row{
          display: flex;

            h5, span {
                font-size: 0.9em;
            }
            h5 {
                font-weight: 500;
                width: 7em;
            }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .edit-profile-container {

    .info-block {
      min-width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .edit-profile-block {
    position: fixed;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: white;
    padding: 0 50px 50px 50px;
  }

  .edit-profile-container {
    height: 100%;

    .header-tab {
      background: white;
      padding: 1em 0;

      .back-arrow {
        display: none;
      }

      .modal-cross {
        display: block;
        position: absolute;
        height: 32px;
        width: 32px;
        right: 10px;
        top: 10px;
      }
    }

    .picture-gallery-container {
      display: flex;
      flex-direction: column;
      height: auto;
      align-items: center;

      .picture-gallery {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 100px);
      }

      .pic2 { 

        img {
          border-top-left-radius: 10px;
        }
       } 
      .pic3 { 
        
        img {
          border-bottom-left-radius: 10px;
        }
       } 
      .pic4 { 
        
        img {
          border-top-right-radius: 10px;
        }
       } 
      .pic5 { 
        
        img {
          border-bottom-right-radius: 10px;
        }
       } 
    }

    .info-block {
      width: 100%;
      height: 400px;
      display: flex;
      flex-wrap: wrap;

      .info {
        margin: 0.25em 0;
      }

      .description {
        align-self: flex-start;
      }
  
      .interests {
        align-self: flex-start;
      }

      .table {
        align-self: flex-end;
      }
    }
  }
}