@use 'src/styles/reset';
@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', 'Arial';
  font-weight: 400;
  display: flex;
  width: 100%;
}

em {
  color: vars.$accentColor;
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    h2 {
        font-size: 1em;
    }

    & .image {
        

        & .profile-picture {
            position: relative;
            height: 60vh;
            width: 100vw;

            & .main-photo {
                min-height: 100%;
                width: 100%;
                object-fit: cover;
            }

            & .overlay {
                color: white;
                justify-content: space-around;
    
                & .gradient {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: -60vh;
                    height: 100px;
                    width: 100%;
                    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    
                    &-group {
                        display: flex;
                        flex-direction: row;
                        height: 100px;
    
                        & .back-arrow {
                            margin-left: 0.5em;
                            top: 0;
    
                            img {
                                height: 32px;
                                width: 32px;
                            }
                        }
    
                        & .name-connected-distance {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                            margin-left: 0;
                            margin-top: 3em;
                            width: 10em;
        
                            & .name-connected-group {
                                flex-direction: row;
                                align-items: center;
                                height: 1em;
                                margin: 0;
                                
                                & .connected {
                                    margin-left: 5px;
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                        }
    
                        & .favorite-blocked-group {
                            align-items: start;
                            margin-top: 3em;
                            right: 0;
                            justify-content: start;

                            img {
                                height: 32px;
                                width: 32px;
                            }
                        }
                    }
    
                }
                & .bottom-group {
                    position: absolute;
                    bottom: 0;
                    height: 64px;
                    width: 100%;
                    flex-direction: row;
    
                    img {
                        height: 32px;
                        width: 32px;
                    }

                    & .message {
                        right: 15px;
                        bottom: 15px;
                    }

                    & .dots {
                        bottom: 15px;
                    }
                }
            }
        }


    }
    & .bottom {
        align-items: flex-start;
        padding-bottom: 6em;
        height: 100%;
        width: 100%;

        & .cross {
            display: none;
        }

        & .info {
            padding: 1em;
            margin: 1em 0;
            
            & .description {
                background: vars.$bubbleColor;
                border-radius: 10px;
                margin-top: 0;
                width: 250px;
                align-self: flex-start;
            }

            & .interests {
                background: vars.$bubbleColor;
                border-radius: 10px;
                width: 250px;
                align-self: flex-end;
            }

            & .table {
                background: vars.$bubbleColor;
                border-radius: 10px;
                width: 250px;
                align-self: flex-start;

                h4 {
                    margin-bottom: 1em;
                }

                &-details {
                    margin: 0;
                    padding: 0;
                    align-self: flex-start;

                    & .row{
                        flex-direction: row;

                        h5, span {
                            font-size: 0.9em;
                        }
                        h5 {
                            font-weight: 500;
                            width: 7em;
                        }
                    }
                }
            }


            h4 {
                font-weight: 500;
            }
            
            p {
                margin-top: 0.5em;
                font-size: 0.9em;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .profile-info-container {

        & .bottom {
            width: 80%;
            align-self: center;
        }

        & .info {
            
            & .table {
                
                &-details {
                    align-self: flex-start;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .block {
        height: 600px;
        width: 800px;
        position: fixed;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: white;

        .profile-info-container {
            flex-direction: row;
            max-width: inherit;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            
            & .image {
                & .profile-picture {
                    height: 100%;
                    width: 100%;
                    
                }

                & .overlay {
                    color: white;
                    justify-content: space-around;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
        
                    & .gradient {
                        display: flex;
                        position: absolute;
                        top: 0;
                        height: 100px;
        
                        &-group {
                            display: flex;
                            flex-direction: row;
                            height: 100%;
        
                            & .back-arrow {
                                display: none;
                            }
        
                            & .name-connected-distance {
                                left: 15px;
                                top: -35px;
            
                                & .name-connected-group {
                                    position: static;
                                    flex-direction: row;
                                    align-items: center;
                                    height: 1em;
                                    margin: 0;
                                    
                                    & .connected {
                                        margin-left: 5px;
                                        height: 10px;
                                        width: 10px;
                                    }
                                }
                            }
        
                            & .favorite-blocked-group {
                                top: -40px;
                                left: 80%;
    
                                img {
                                    height: 32px;
                                    width: 32px;
                                }
                            }
                        }
        
                    }
                    & .bottom-group {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
    
                        & .message {
                            left: 100%;
                            transform: translate(-50px);
                        }
    
                        & .dots {
                            left: 50%;
                            transform: translate(-50%);
                        }
                    }
                }
            }
    
            & .bottom {
                width: 100%;
                flex-direction: column;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                & .cross {
                    display: flex;
                    position: absolute;
                    height: 32px;
                    width: 32px;
                    right: 10px;
                    top: 10px;
                }        
    
                & .info {
                    margin: 0 0 1em 0;
                    height: 100%;
                    
                    & .description {
                        align-self: center;
                    }
        
                    & .interests {
                        align-self: center;
                    }
        
                    & .table {
                        align-self: center;
        
                        &-details {
                            margin: 0;
                            padding: 0;
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}