@use 'src/styles/reset';
@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', 'Arial';
  font-weight: 400;
  display: flex;
  width: 100%;
}

.settings-block {
    padding-bottom: 6em;
}

.settings-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    height: 100%;

    h2 {
        font-size: 1.2em;
        font-weight: 500;
    }

    & .header-tab {
        flex-direction: row;
        width: 100%;
        height: 50px;
        background: vars.$headerTabColor;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    & .profile-tab {
        cursor: pointer;
        width: 100%;
        flex-direction: row;
        padding: 1em;

        img {
            border-radius: 50%;
            width: 68px;
            height: 68px;
        }

        & .name-edit-profile-group {
            flex-direction: column;
            justify-content: space-between;
        }

        .edit-icon {
            width: 32px;
            height: 32px;
            align-self: center;
        }
    }

    & .account-tab {

        img {
            width: 32px;
            height: 32px;
        }
        .header {
            width: 100%;
            height: 40px;
            background: vars.$headerTabColor;
            justify-content: center;
            align-items: center;
        }

        .email {
            cursor: pointer;
            flex-direction: row;
            width: 100%;
            height: 40px;
            padding: 0 0.5em;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid vars.$headerTabColor;
        }

        .password {
            cursor: pointer;
            flex-direction: row;
            width: 100%;
            height: 40px;
            padding: 0 0.5em;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid vars.$headerTabColor;
        }
    }

    & .privacy-tab {

        img {
            width: 32px;
            height: 32px;
        }
        .header {
            width: 100%;
            height: 40px;
            background: vars.$headerTabColor;
            justify-content: center;
            align-items: center;
        }

        .blocked-users {
            cursor: pointer;
            flex-direction: row;
            width: 100%;
            height: 40px;
            padding: 0 0.5em;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid vars.$headerTabColor;
        }
    }

    & .privacy-btns-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        & .privacy-tab {
            justify-self: flex-start;
        }

        & .logoff-delete-group {
            justify-content: flex-end;
        }
    }

    & .logoff-delete-group {
        padding: 0 0.5em;
        
        button {
            font-family: 'Montserrat', 'Arial';
            width: 100%;
            height: 40px;
            border-radius: 30px;
            border: none;
            background-color: vars.$buttonColor;
            font-weight: 600;
            font-size: 1.1em;
            color: white;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
            margin-bottom: 0.8em;
          }

        .log-off-btn {
            color: vars.$buttonColor;
            background: transparent;
            border: 2px solid vars.$buttonColor;
        }
    }
}

@media screen and (min-width: 1200px) {

    .settings-block {
        position: fixed;
        width: 800px;
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        background: white;

        .settings-container {
            width: 100%;

            & .header-tab {
                background: white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            & .profile-tab {
                display: none;
            }

            .movable {
                width: 250px;
                height: 330px;
                background: white;
                box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
                margin-left: 20px;
                
                & .account-tab {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: auto;
                    margin: 0;

                    & .email, .password {
                        height: 40px;
                        border-radius: 0;
                    }
                }

                .header {
                    background: vars.$headerTabColor;
                    height: 40px;
                }

                & .privacy-tab {
                    height: auto;
                    margin: 0;

                    & .header {
                        height: 40px;
                    }

                    & .blocked-users {
                        height: 40px;
                    }
                }

                .logoff-delete-group {
                    margin: 0;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &:nth-child(0) {
                    padding-left: 1em;
                }
            }
        }

        
    }

    .blocked-block {
        position: absolute;
        background: white;
        width: 480px;
        height: 530px;
        bottom: 20px;
        right: 20px;
        overflow-y: scroll;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;

        .blocked-container {
            width: 100%;

            & .header-tab {
                position: fixed;
                width: 480px;
                height: 40px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                & .back-arrow {
                    display: none;
                }
            }
        }
    }

    .password-block {
        position: absolute;
        background: white;
        width: 480px;
        height: 530px;
        bottom: 20px;
        right: 20px;
        overflow-y: scroll;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;

        .password-container {
            width: 100%;

            & .header-tab {
                width: 100%;
                height: 40px;

                & .back-arrow {
                    display: none;
                }
            }
        }
    }

    .email-block {
        position: absolute;
        background: white;
        width: 480px;
        height: 530px;
        bottom: 20px;
        right: 20px;
        overflow-y: scroll;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;

        .email-container {
            width: 100%;

            & .header-tab {
                width: 100%;
                height: 40px;

                & .back-arrow {
                    display: none;
                }
            }
        }
    }
}